*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.app{
  background-color: #14161a;
  color: white;
  min-height: 100vh;
}

a{
  text-decoration: none;
  color: gold;
}

/*-----------------------Header.jsx-----------------------*/

.title{
  color: gold;
  flex: 1;
  font-family: Verdana, Geneva, Tahoma, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
  font-weight: bold !important;
  cursor: pointer;
}
